body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
  }
  .text {
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.5; 
    text-align: center; 
    background-color:#3244e6;
    padding: 10px 20px; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, color 0.3s; 
}

.text:hover {
    background-color: #0e50c9;
    
}

  .container {
      max-width: 900px;
      margin: 50px auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
      text-align: center;
      margin-bottom: 30px;
      color: #333;
  }
  
  /* Form Styles */
  .form-group {
      margin-bottom: 20px;
  }
  
  
  .container1 {
      max-width: 900px;
      margin: 50px auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .form-row {
      display: flex;
      justify-content: space-between; /* This will space out your form groups */
      margin-bottom: 15px; /* Add some space between rows */
  }
  
  .form-group1 {
      flex: 1; /* Allows each form group to grow and take equal width */
      padding: 0 10px; /* Adds some space between form groups */
      box-sizing: border-box; /* Include padding in the width calculation */
  }
  
  .form-group1 label {
      display: block; /* Ensures the label is above the input */
      margin-bottom: 5px; /* Adds some space between label and input */
  }
  
  .form-group1 input[type="number"] {
      width: 100%; /* Ensures input fills the container */
      padding: 8px;
      box-sizing: border-box; /* Includes padding and border in the element's size */
  }
  
  
  label {
      display: block;
      font-weight: 500;
      margin-bottom: 8px;
      color: black;
  }
  
  input[type="number"],
  select {
      width: 100%;
      padding: 12px 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      transition: border-color 0.3s ease;
  }
  
  input[type="number"]:focus,
  select:focus {
      outline: none;
      border-color: rgb(30, 75, 223);
  }
  
  /* Button Styles */
  button {
      width: 30%; /* Adjusted width for a smaller size */
      padding: 10px; /* Reduced padding */
      background-color: #063aca;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px; /* Reduced font size */
      font-weight: 500;
      transition: background-color 0.3s ease;
  }
  
  button:hover {
      background-color: black;
  }
  
  /* Sidebar Styles */
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 10%; /* Adjust as needed */
    left: 0;
    background-color: white;
    padding-top: 20px;
    z-index: 999; /* Ensure it appears above other elements */
}

.sidebar.open {
    transform: translateX(0); /* Show the sidebar when it's open */
}

  .sidebar a {
      padding: 14px 20px;
      text-decoration: none;
      font-size: 16px;
      color: rgb(102, 99, 99);
      display: block;
      padding: 10px 20px; 
      border-radius: 5px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
      transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar a:hover {
      background-color: #2c3edf;
      color: white;
  }
  
  .active {
      background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Content Styles */
  .content {
      margin-left: 250px;
      padding: 20px;
  }
  
  .calculator-form {
      display: none;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
      .sidebar {
          width: 100%;
          height: auto;
          position: static;
      }
  
      .content {
          margin-left: 0;
      }
  }
  .icon {
      width: 30px; /* Adjust the width as desired */
      height: 30px; /* Adjust the height as desired */
  }
  .calculate-btn{
    margin-left: 20px;
  }
  .navbar.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 1000; /* Ensure it appears above other elements */
    transition: top 0.3s; /* Smooth transition when becoming sticky */
 
  }
  
  .navbar .navbar-brand img {
    max-height: 60px;
  }
  
  .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 10px 0;
    color: #696E77;
    font-weight: 500;
    outline: none;
  }
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
  }
  
  .navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
  }
  
  @media (max-width: 991.98px) {
    .navbar .navbar-brand img {
        max-height: 45px;
    }
  
    .navbar .navbar-nav {
        margin-top: 20px;
        margin-bottom: 15px;
    }
  
    .navbar .nav-item .dropdown-menu {
        padding-left: 30px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
  
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
  }
 