
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    background-color: rgb(253, 242, 242);
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
  }
  
  .mainImg {
    color: black;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #dcdce2;
    background-color: white;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .text-blk.subHeadingText {
    font-size: 22px;
    line-height: 1.5;
    color: #77778a; /* Blue color */
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    border-left: 6px solid #2c3ce3; /* Thick left border */
    position: relative; /* Position relative for pseudo-elements */
    overflow: hidden; /* Hide overflow for pseudo-elements */
  }
  
  .text-blk.subHeadingText::before,
  .text-blk.subHeadingText::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(44, 60, 227, 0), #2c3ce3); /* Gradient overlay */
    z-index: 1;
    transition: width 0.3s ease;
  }
  
  .text-blk.subHeadingText::before {
    left: 0;
  }
  
  .text-blk.subHeadingText::after {
    right: 0;
    background: linear-gradient(to left, rgba(44, 60, 227, 0), #2c3ce3); /* Gradient overlay */
  }
  
  .text-blk.subHeadingText:hover::before,
  .text-blk.subHeadingText:hover::after {
    width: 0%; /* Hide the gradient overlay on hover */
  }
  
  .text-blk.subHeadingText:hover {
    color: #1769aa; /* Darker blue color on hover */
    border-color: #1769aa; /* Darker blue border color on hover */
    cursor: pointer; /* Change cursor on hover */
  }
  
  
  .text-blk.description {
    font-size: 18px;
    line-height: 1.6;
    color: #333333; /* Dark gray color */
    font-style: italic;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #d5d7e7; /* Blue border */
    border-radius: 15px; /* Rounded border */
    background-color: #f0f0f0; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    position: relative; /* Position relative for pseudo-elements */
    overflow: hidden; /* Hide overflow for pseudo-elements */
  }
  
  .text-blk.description::before,
  .text-blk.description::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(44, 60, 227, 0), #2c3ce3); /* Gradient overlay */
    z-index: 1;
    transition: width 0.3s ease;
  }
  
  .text-blk.description::before {
    left: 0;
  }
  
  .text-blk.description::after {
    right: 0;
    background: linear-gradient(to left, rgba(44, 60, 227, 0), #2c3ce3); /* Gradient overlay */
  }
  
  .text-blk.description:hover::before,
  .text-blk.description:hover::after {
    width: 0%; /* Hide the gradient overlay on hover */
  }
  
  .text-blk.description:hover {
    color: #2c3ce3; /* Blue color on hover */
    border-color: #2c3ce3; /* Blue border color on hover */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .text-blk.description em {
    font-style: normal; /* Remove italic style for emphasis */
    color: #cc0000; /* Red color for emphasis */
  }
  
  
  .explore {
    font-size: 16px;
    line-height: 28px;
    color: black;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(102, 102, 102);
    border-right-color: rgb(102, 102, 102);
    border-bottom-color: rgb(102, 102, 102);
    border-left-color: rgb(102, 102, 102);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    
  }
  
  .explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #2c3ce3;
    color: white;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  
  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    flex-direction: row-reverse;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    position: static;
  }
  
  .allText.aboveText {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }
  
  .allText.bottomText {
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .purpleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 430px;
    background-color: #2c3ce3;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    bottom: -35px;
    left: -2%;
  }
  
  .purpleText {
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .ultimateImg {
    width: 50%;
    position: relative;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      max-width: 850px;
    }
  
    .mainImg {
      width: 75%;
      height: auto;
    }
  
    .allText {
      width: 40%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .responsive-container-block.Container {
      max-width: 830px;
    }
  
    .allText.aboveText {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 40px;
    }
  
    .allText.bottomText {
      margin-top: 30px;
      margin-right: 40px;
      margin-bottom: 0px;
      margin-left: 0px;
      text-align: left;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .allText.aboveText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .text-blk.subHeadingText {
      text-align: left;
      font-size: 26px;
      line-height: 32px;
    }
  
    .text-blk.description {
      text-align: left;
      line-height: 24px;
    }
  
    .explore {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px;
    }
  
    .responsive-container-block.Container {
      justify-content: space-evenly;
    }
  
    .purpleBox {
      bottom: 10%;
    }
  
    .responsive-container-block.Container.bottomContainer {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      max-width: 930px;
    }
  
    .allText.bottomText {
      width: 40%;
    }
  
    .purpleBox {
      bottom: auto;
      left: -10%;
      top: 70%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .text-blk.headingText {
      text-align: left;
    }
  }
  
  @media (max-width: 768px) {
    .allText {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .text-blk.subHeadingText {
      text-align: center;
      font-size: 14px;
    }
  
    .text-blk.description {
      text-align: center;
      font-size: 18px;
    }
  
    .allText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText.aboveText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .allText.bottomText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .mainImg {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: -70px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      flex-direction: column;
    }
  
    .ultimateImg {
      width: 100%;
    }
  
    .purpleBox {
      position: static;
    }
  
    .allText.bottomText {
      width: 100%;
      align-items: flex-start;
    }
  
    .text-blk.headingText {
      text-align: left;
    }
  
    .text-blk.subHeadingText {
      text-align: left;
     
    }
  
    .text-blk.description {
      text-align: left;
    }
  
    .ultimateImg {
      position: static;
    }
  
    .mainImg {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .ultimateImg {
      position: relative;
    }
  
    .purpleBox {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      position: absolute;
      left: 0px;
      top: 80%;
    }
  
    .allText.bottomText {
      margin-top: 100px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-left: 25px;
    }
  
    .text-blk.subHeadingText {
      font-size: 24px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      line-height: 28px;
    }
  
    .text-blk.description {
      font-size: 16px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      line-height: 22px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
  
    .allText.bottomText {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      padding: 0 0 0 0;
      margin: 30px 0 0 0;
    }
  
    .ultimateImg {
      position: static;
    }
  
    .purpleBox {
      position: static;
    }
  
    .stars {
      width: 55%;
    }
  
    .allText.bottomText {
      margin-top: 75px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .purpleText {
      font-size: 16px;
      line-height: 22px;
    }
  
    .explore {
      padding: 6px 35px 6px 35px;
      font-size: 15px;
    }
  }
  .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 15px;
    }
    
    .credit-report-container {
      display: flex;
      align-items: center;
    }
    
    .credit-report-image {
      flex: 1;
      margin-right: 20px;
    }
    
    .credit-report-image img {
      max-width: 100%;
      height: auto;
    }
    
    .credit-report-content {
      flex: 1;
    }
    
    .credit-report-content h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    
    .credit-report-content p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    button {
      padding: 10px 20px;
      font-size: 18px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    @media (max-width: 768px) {
      .credit-report-container {
        flex-direction: column;
        align-items: stretch;
      }
    
      .credit-report-image,
      .credit-report-content {
        margin-right: 0;
      }
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .credit-report-container {
        flex-direction: column;
      }
  
      .credit-report-content {
        max-width: 100%;
      }
    }
    
  .extra-right-space {
      margin-right: 5px; /* Adjust as needed */
  }
   
    /* Desktop View CSS */
    @media (min-width: 768px) {
      .testimonial {
        max-width: 600px; /* Adjust as needed */
        margin: 0 auto;
      }
    }
    
    /* Mobile View CSS */
    @media (max-width: 767px) {
      .carousel-item {
        max-width: 600px; /* Adjust as needed */
        margin: 0 auto;
        text-align: justify;
        margin-left:5px;
      }
    }
.logofooter {
    max-width: 150px;
    margin-bottom: 100px;
  }


 
  @media only screen and (min-width: 768px) {
    /* For desktop view */
    .logofooter {
      margin-left: 90px;
    }
  }

  @media only screen and (max-width: 767px) {
    /* For mobile view */
    .logofooter {
      margin-left: 0;
    }
  }
  /* Desktop View CSS */
  @media (min-width: 768px) {
    .testimonial {
      max-width: 600px; /* Adjust as needed */
      margin: 0 auto;
    }
  }
  
  /* Mobile View CSS */
  @media (max-width: 767px) {
    .carousel-item {
      max-width: 600px; /* Adjust as needed */
      margin: 0 auto;
      text-align: justify;
      margin-left:5px;
    }
  }
  

.position-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .position-absolute {
        width: 100%;
        height: auto;
    }
}
.testimonial-item {
    padding: 20px;
  }
  .testimonial-item img {
    max-width: 100%;
    border-radius: 50%;
  }
  .revtext {
    margin-bottom: 20px;
  }
  .testimonial-item h5,
  .testimonial-item span {
    display: block;
  }
.logo {
    max-width: 100px;
    margin-bottom: 100px;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop view */
    .logo {
      margin-left: 90px;
    }
  }

  @media only screen and (max-width: 767px) {
    /* For mobile view */
    .logo {
      margin-left: 0;
    }
  }
p a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
}
.amount {
    font-family: Arial, sans-serif; /* Use any preferred font family */
    font-size: 31px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
}



.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Set the desired height for the navbar */
}

/* CSS for the logo image */
.styled-image {
    max-width: 100%;
    max-height: 100%; /* Ensure the image doesn't exceed the height of the navbar */
}

.apply-now-btn {
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient background */
    color: white; /* Text color */
    border: none; /* Remove the default border */
    padding: 10px 25px; /* Padding inside the button */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Text weight */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    transition: all 0.3s ease; /* Transition for smoothness */
}

/* Button Hover Effect */
.apply-now-btn:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb); /* Invert gradient on hover */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Larger shadow on hover */
}

.carousel-inner {
  margin-bottom: -36px; /* Adjust as needed */
}

/* Adjust margin-bottom for desktop view */
@media (min-width: 768px) {
  .carousel-inner {
      margin-bottom: -10px; /* Adjust as needed */
  }
}
/* Increase video size for tablet screens */
@media (min-width: 768px) and (max-width: 1024px) {
  .video-container video {
      height: 120vh; /* Adjust as needed */
  }
}
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Define a desirable aspect ratio */
    padding-top: 50%; /* 16:9 Aspect Ratio */
    padding-bottom: 30px;

  }
  
  .mt-custom {
    margin-top: -80px; /* Adjust this value to your preference */
}
.mt-custom1 {
    margin-top: 50px; 
}

.mt-custom1 {
    margin-top: 50px; 
}

.stylish-design .milestone-counter {
    background: linear-gradient(135deg, #009ffd, #2a2a72);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.stylish-design .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    animation: pulseAnimation 5s infinite ease-in-out;
}

/* css added by user */
.texts {
    margin-left: 2rem;
    margin-right: 1rem;
    justify-self: center;
}


/* Add additional styles for responsiveness and typography as needed */


  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 200%;
    width: auto;
    height: auto;
  }
:root {
    --primary: #2C3CE3;
    --secondary: #0DD3F1;
    --light: #F6F7FC;
    --dark: #15233C;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/* contact */

/* Contact Section Styling */
.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
}
.navbar-brand {
    /* Flex column to stack items vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
}

.navbar-brand h1 {
     color: #2C3CE3;
    margin: 0;
    font-size: 1rem; /* Adjust the font size as needed */
}

/* Adjust the spacing and size of the logo if necessary */
.navbar-brand img {
    max-width: 305px;
    /*Adjustasneeded*/height: auto;
    /*Allowtheheighttoadjustproportionally*/margin-bottom: 0.5rem;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}



.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2 {
    font-size: 3.5em;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-header p {
    color: #3244e6;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
}


.containercontact {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

  .input-box input:focus,
  .input-box textarea:focus {
    border-color: #3244e6; /* Adjust the focus border color as needed */
  }
  
  .input-box span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Adjust the color of the label as needed */
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .input-box input:focus + span,
  .input-box textarea:focus + span,
  .input-box input:not(:placeholder-shown) + span,
  .input-box textarea:not(:placeholder-shown) + span {
    top: 0;
    transform: translateY(0);
    font-size: 12px;
    color: #3244e6; /* Adjust the color of the label when focused or text is entered */
  }
  
  .input-box textarea {
    height: 120px; /* Adjust the height of the textarea as needed */
  }
  
  .input-box input[type="submit"] {
    width: 100%;
    background-color: #3244e6; /* Adjust the background color of the button */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .input-box input[type="submit"]:hover {
    background-color: #3244e6; /* Adjust the hover background color of the button */
  }
  

.input-box input[type="submit"]:hover {
    background-color: #3244e6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    
    .contact-info, .contact-form {
        width: 100%;
    }
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

body{
    font-family: system-ui;
}

/*** Button ***/
.btn {
    transition: .5s;
    
}

.fact-btn {
    margin-left: 2rem;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-secondary,
.btn.btn-outline-secondary:hover {
    color: #FFFFFF;
}

.btn.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px; 
    transition: .5s;
}

.navbar .navbar-brand img {
    max-height: 30px;
}

.navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 10px 0;
    color: #696E77;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand img {
        max-height: 25px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
        margin-bottom: 15px;
       
}

    .navbar .nav-item .dropdown-menu {
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 15px solid var(--primary);
    border-radius: 50px;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.page-header {
    background-image: url('../img/Untitled%20design.png');
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire container, might crop the image */
    width: 100%; /* Ensure the div takes the full width */
    height: 50vh; /* Adjust the height to your preference, 100vh for full screen */
    display: flex; /* Enables flexbox for content alignment */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item a,
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #696E77;
}

.page-header .breadcrumb-item a:hover,
.page-header .breadcrumb-item.active {
    color: var(--primary);
}


/*** Facts ***/
.unlock{
    margin-left: -1px;
    /* background-color: red; */
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    
}
.vision{
    margin-left: -1px;
    /* background-color: red; */
    text-align: center;
    justify-content: center;
    
    
}
@media (min-width: 992px) {
    .container.facts {
        max-width: 100% !important;
    }

    .container.facts .facts-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }

    .container.facts .facts-counter {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .container.facts .facts-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }

    .container.facts .facts-counter  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .container.facts .facts-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }

    .container.facts .facts-counter  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.container.facts .facts-text {
    /* background: linear-gradient(rgba(1, 95, 201, .9), rgba(1, 95, 201, .9)), url() center right no-repeat; */
    background-size: cover;
    background: #2c3ce3;
    border-top-left-radius:25px;
    border-bottom-left-radius: 25px;
}

.container.facts .facts-counter {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/) center right no-repeat;
    background-size: cover;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
    
}

.container.facts .facts-text .h-100,
.container.facts .facts-counter .h-100 {
    padding: 6rem 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*** Service ***/
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}
.service-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item .service-icon {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item .service-icon img {
    max-width: 60px;
    max-height: 60px;
}

.service-item a.btn {
    color: var(--primary);
}
.heading-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    line-height: 1.5;
}
.service-item a.btn:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}


/*** Appointment ***/
.appointment {
    background: linear-gradient(rgba(1, 95, 201, .9), rgba(1, 95, 201, .9)), url(../img/Untitled\ design.png) center center no-repeat;
    background-size: cover;
}


/*** Team ***/

.team-img{
    width: 100%; /* or specify a fixed width */
    height: auto; /* This ensures that the image maintains its aspect ratio */
}

.team-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    height: 400px;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: .5s;
    
}

.team-item:hover .team-text {
    bottom: 0;
    opacity: 1;
    
}

.team-item a.btn {
    color: var(--primary);
}

.team-item a.btn:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}


/*** Testimonial ***/

.animated.pulse {
    animation-duration: 1.5s;
}

.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 1px dashed var(--primary);
    border-radius: 10px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 10px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}



/*** Footer ***/
 /* .footer {
    color: #A7A8B4;
    
}

.footer{
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #A7A8B4;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
 .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #A7A8B4;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #A7A8B4;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: #A7A8B4;
    border: 1px solid#A7A8B4;
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: #FFFFFF;
} 
.custom-link a {
    color: inherit;
    text-decoration: none;
  }
 
.footer-text {
    font-size: 16px; 
    color: #666; 
    line-height: 1.5; 
    margin-top: 20px; 
    margin-left: 60px;
}
.col-lg-3.col-md-6 {
    position: relative;
    top: 100px;
}

  
  .custom-link a:hover {
    text-decoration: underline;
  } */
  /* test */
  /* review */
  .test{
    background-color: #3244e6;
  }
  .texth2{
    color:white;
  }
  
  h2 {
	color: #3244e6;
	text-align: center;

	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 0px 0 50px;
    
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #3244e6;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	color: white;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 340px;
}
.carousel .carousel-item a {
	color: #3244e6;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: white;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #999;
	text-shadow: none;
	top: 4px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control-prev {
	left: auto;
	right: 40px;
}
.carousel-control-next i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: none;
}
.carousel-indicators li.active {		
	background: white;	
}

.logo_wrapper {
	width: auto;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
    width: 120px !important;
}

.logo .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}

/* client crousel */
.associates{
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 6px;
}

.img-client-crousel {
    width: 120px;
    height: 80px;
    animation: scroll 10s linear infinite;
  }
.slide-track {
    width: 100%;
    display: flex;
    gap: 1em;
    overflow: hidden;
  }
  
  .slider {
  
    height: 200px; /* Adjust the height as needed */
    background-size: cover; /* Adjust how the background covers the element */
}

  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

  .footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.fintech {
    margin-right: auto;
}

.footer h5 {
    color: #ffffff;
    border-bottom: 1px solid #505050;
    padding-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds space between buttons if needed */
}

.social-icons a.btn-social {
    border: 1px solid #ffffff;
    display: inline-flex; /* Change to inline-flex */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.social-icons a.btn-social:hover {
    background-color: #ffffff;
    color: #3244e6;
}

.newsletter-signup input.form-control {
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
}

.newsletter-signup button.btn {
    border-radius: 0 20px 20px 0;
    border: none;
}

.footer-bottom {
    background-color: #19191b;
}
.col-lg-3.col-md-6 {
    margin-top: 4em; /* Adjust the value as needed */
}

a.text-light:hover {
    text-decoration: none;
    color: #ffffff;
}

.text-fintech {
    font-size: 1.2rem; /* Sets a moderate font size, adjust as needed */
    line-height: 1.6; /* Improves readability */
    text-align: justify; /* Aligns text to justify both left and right */
    margin-bottom: 10px; /* Adds some space below the paragraph */
    max-width: 600px; /* Ensures lines are not too long for better readability */
    padding: 10px; /* Adds a bit of padding around the text */
    border-left: 4px solid #3244e6; /* Adds a styled border to the left for emphasis */
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}


/* Optional: Add a responsive font size for better mobile readability */
@media screen and (max-width: 768px) {
    .text-fintech {
        font-size: 1rem; /* Slightly smaller font for mobile devices */
    }
}
.text-fintech1 {
    margin-right: 20px;
    color: #3244e6;
}
#hero {
    width: 100%;
    height: 80vh;
    background:rgb(50, 94, 190);
  }
  
  #hero .container {
    padding-top: 72px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
  }
  
  #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
  }
  
  #hero .btn-get-started:hover {
    background: #209dd8;
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
  }
  
  #hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover i {
    color: #47b2e4;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
    #hero {
      height: 100vh;
      text-align: center;
    }
  
    #hero .animated {
      animation: none;
    }
  
    #hero .hero-img {
      text-align: center;
    }
  
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
     
    }
  
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
.headingtext{
    margin-left: 12em;
    color: brown;
}

/* aboutpage */

.heading1 {
  
        color: #333;
        font-size: 36px; 
        font-family: Arial, sans-serif;
        text-transform: capitalize; 
       
  }
  
  .heading3{
    
    font-size: 26px; 
    
   
    text-transform: capitalize; 
  }

  /* signinpage */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}


/* General styling */
.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    padding: 5%; /* Added padding */
    border-radius: 1rem; /* Added border radius */
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 20%; /* Adjusted width for mobile */
    height: -10%;
    margin-top: -10%; /* Adjusted margin */
}

.contact-form form {
    padding: 5%; /* Adjusted padding */
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

/* Button styles */
.contact-form .btnContact,
.btnContactSubmit {
    width: 100%; /* Changed width to fit mobile screen */
    border: none;
    border-radius: 1rem;
    padding: 3%; /* Adjusted padding */
    background: #0062cc;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/* Adjusted margin for form-group */
.form-group {
    margin-left: 0; /* Removed left margin */
    margin-bottom: 10px; /* Adjusted bottom margin */
}
.revtext{
    text-align: justify;
}